@media (max-width: 991px) {
    .promo{
        padding-right: 15px;
        .container{
            width: 100%;        
            .header{
                &__contact{
                    a{
                        font-size: 17px;
                    }
                    .button{
                        width: 145px;
                    }
                }
            }
        &__header{
            font-size: 40px;
        }
        &__subheader{
            font-size: 22px;
        }
        &__icons{
            width: 405px;
        }
        .button_main{
            width: 245px;
        }
        &__link{
            font-size: 15px;
        }
    }
    }
    .advantages {
        .container{
            width: 100%;
            .wrapper{
                display: grid;
                .advantages__icons {
                    .advantages__text{
                        font-size: 25px;
                    }
                    .advantages__descr{
                        width: 500px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .consultation {
        padding-left: 30px;
        .container{
            width: 100%;
            .title_consul {
                width: 700px;
                font-size: 30px;
            }
            &__subheader{
                font-size: 19px;
            }
        }
    }   
    .carousel {
        .slick-dots {
            display: flex;
            transform: translateX(50%);
            margin-top: 10px;
           color: grey;
        }
        .slick-prev {
            img {
                display: none;
            }
        }
        .slick-next {
            img {
                display: none;
            }
        }
    }

    .overlay {
        width: 100%;
    }     
    .footer__info{
        width: auto;
    }

}

@media (max-width: 768px){
    .container {
        width: 100%;
    }
    .promo{
        .container{
            width: 100%;        
            .hidden{
                display: none;
            }
            .header{
                &__logo{
                    width: 215px;
                }
            }
            .wrapper{
                align-items: center;            
                .promo__header{
                    font-size: 30px;
                }
                .promo__subheader{
                font-size: 15px;
                }
                .promo__icons{
                    margin-top: 96px;
                    width: 415px;
                }
                .button_main{
                    margin-top: 150px;
                    font-size: 15px;
                }
                .promo__link{
                    font-size: 14px;
                }
            }
        }
    }
    .advantages{
        .container{
            width: 100%;
        }
    }
    .consultation{
        padding-left: 30px;
        .container{
            width: 100%;
        
            .title_consul{
                width: 100%;
                font-size: 25px;
                line-height: 42px;
            }
            .consultation__subheader{
                width: 317px;
                line-height: 27px;
            }
            .feed-forms{
                margin-top: 50px;
            }
        }
    }
    .carousel {
        .slick-dots {
            display: flex;
            transform: translateX(50%);
            margin-top: 10px;
            color: grey;
        }
        .slick-prev {
            img {
                display: none;
            }
        }
        .slick-next {
            img {
                display: none;
            }
        }
    }
    .catalog {
        &__choose {
            width: 450px;
            &_items {
                display: flex;
                width: 175px;
                font-size: 13px;
                justify-content: center;
                margin-right: 10px;
            }
        }
    }
    .reviews {
        &__cost {
            font-size: 28px;
            &_rev {
                img {
                    width: 135px;
                    height: 135px;
                }
            }
        }    
    }
}
@media (max-width: 575px) {
    .promo{
        padding: 21px 0 14px 0;
        .container{
            width: 100%;
            .hidden_xs{
                display:none;
            }
            .wrapper{
                padding-top: 55px;
                text-align: center;
            }
                .promo__subheader{
                    margin-top: 9px;
                }
            .promo__icons{
                display: block;
                flex-direction: row;
                margin: 0 auto;
                width: 145px;
                margin-top: 10px;
                img{
                    margin-top: 25px;
                    margin-bottom: 9px;
                    &:nth-child(1){
                        margin-top: 15px;
                    }
                }
            }
            .button_main{
                margin-top: 35px;
            }
        }
    }
    .advantages {
        width: 100%;
        padding: 35px 0 35px 0;
        .container{
            width: 100%;
                padding-right: calc(var(--bs-gutter-x) * .0);
                padding-left: calc(var(--bs-gutter-x) * .0);
            .title{
                font-size: 24px;
            }
            .wrapper{
                .advantages__icons{
                    img{
                        margin-top: 30px;
                    }
                    .advantages__text{
                        margin-top: 10px;
                        font-size: 19px;
                    }
                    .advantages__descr{
                        width: 85%;
                        margin: 0 auto;
                        margin-top: 7px;
                        font-size: 14px;
                    }
                }
                
            }  

        }
    }
    .consultation {
        padding-left: 30px;
    }
    .carousel {
        .slick-dots {
            display: flex;
            transform: translateX(50%);
            margin-top: 10px;
            color: grey;
        }
        .slick-prev {
            img {
                display: none;
            }
        }
        .slick-next {
            img {
                display: none;
            }
        }
    }
    .catalog {
        &__choose {
            width: 450px;
            &_items {
                display: flex;
                width: 175px;
                font-size: 13px;
                justify-content: center;
                margin-right: 10px;
            }
        }
    }
}
